@font-face {
  font-family: norse;
  src: url(fonts/Norse-Bold.otf);
}

body {
  background-color: lightgrey;
  display: flex;
  margin: 0;
  padding: 0;
}

.fs {
  background-color: white;
}

.create {
  background-color: #596d48;
  color: white;
}

input:invalid {
  border-color: red;
}

.background-image {
  width: 33rem;
  height: auto;
}

.logo-text {
  font-family: norse;
  font-size: 65px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.credit {
  position: relative;
  text-align: center;
  margin-top: -2rem;
  color: white;
}

.credit a {
  color: white;
}

.logo-container {
  width: 500px;
  height: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  top: 8rem;
  justify-content: center;
}
.top-text {
  margin-left: 3rem;
  margin-top: 6rem;
  margin-right: 13rem;
  font-size: 25px;
}

.fs {
  border-style: none;
  box-shadow: 0px 1px 5px grey;
}

.create {
  padding: 1rem 0.5rem;
  margin: 2rem 3rem 1rem;
  width: 12rem;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 15px;
}

.create:hover {
  cursor: pointer;
}

.already {
  margin-left: 3rem;
}

.you-know {
  margin-left: 3rem;
  margin-top: 1.5rem;
  margin-right: 13rem;
  margin-bottom: 4rem;
  font-size: 25px;
}

label {
  color: rgb(93, 93, 93);
  font-weight: bold;
  font-size: 12px;
}

.lets {
  font-size: 25px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.login {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}

table {
  margin-left: 2rem;
}
